/* Enter your custom styles here */
.sapui5BootcampWT .myCustomButton.sapMBtn{
	margin-left: 1rem;
}

html[dir="rtl"] .sapui5BootcampWT .myCustomButton.sapMBtn{
	margin-left: 0.125rem;
	margin-right: 0;
}

.sapui5BootcampWT .myCustomText{
	font-weight: bold;
}